html {
  height: 100vh;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: thistle;
  margin: 0 auto;
  height: 100%;
}

main {
  height: 95vh;
}


/* Initialization */
#init {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#init h1 {
  font-size: 60px;
  color: rgb(158, 1, 1);
  text-shadow: 5px 5px 0px rgb(2, 2, 173);
}

#init button {
  width: 9rem;
  height: 3rem;
  background: linear-gradient(45deg, rgb(180, 3, 3),rgb(2, 2, 173));
  font-family: inherit;
  font-size: 15px;
  color: white;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
}

#init button:hover {
  background: linear-gradient(45deg, rgb(202, 14, 14),rgb(3, 3, 194));
  box-shadow: 0px 0px 8px rgb(204, 2, 2);
}




/* Game Mode Buttons */
#modeBtnsAndBoard {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 40px;
  color: rgb(158, 1, 1);
  text-shadow: 5px 5px 0px rgb(2, 2, 173);
}

.blurred {
  filter: blur(4px);
  -webkit-filter: blur(4px)
}

#gameModeBtnsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.modeBtns {
  width: 8rem;
  height: 3rem;
  font-family: inherit;
  font-size: 10px;
  color: white;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

#buttonAI {
  background: linear-gradient(45deg, rgb(66, 0, 0), rgb(204, 2, 2));
}

#buttonAI:hover {
  background: linear-gradient(45deg, rgb(95, 15, 15), rgb(233, 3, 3));
  box-shadow: 0px 0px 8px rgb(231, 99, 99);
}

#buttonTwoPlayers {
  background: linear-gradient(45deg, rgb(0, 0, 56), rgb(3, 3, 194));
}

#buttonTwoPlayers:hover {
  background: linear-gradient(45deg, rgb(20, 20, 75), rgb(49, 49, 241));
  box-shadow: 0px 0px 8px rgb(108, 99, 231);
}

#playAgainAI {
  display: none;
  background: linear-gradient(45deg, rgb(66, 0, 0), rgb(204, 2, 2));
}

#playAgainAI:hover {
  background: linear-gradient(45deg, rgb(95, 15, 15), rgb(233, 3, 3));
  box-shadow: 0px 0px 8px rgb(231, 99, 99);
}

#playAgainTwoPlayers {
  display: none;
  background: linear-gradient(45deg, rgb(0, 0, 56), rgb(3, 3, 194));
}

#playAgainTwoPlayers:hover {
  background: linear-gradient(45deg, rgb(20, 20, 75), rgb(49, 49, 241));
  box-shadow: 0px 0px 8px rgb(108, 99, 231);
}


/* Game Board */
#gameBoard {
  display: none;
  flex-wrap: wrap;
  flex: 0;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.boardSquare {
  width: 7rem;
  height: 7rem;
  border: transparent;
  margin: 2px;
  cursor: pointer;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bolder;
  font-size: 90px;
  text-align: center;
  transition: 0.1s;
  text-align: center;
}

.twoPlayersBoard {
  background: linear-gradient(45deg, rgb(0, 0, 56), rgb(3, 3, 194));
}

.twoPlayersBoard:hover {
  box-shadow: 0px 0px 16px rgb(99, 99, 231);
}

.AIBoard {
  background: linear-gradient(45deg, rgb(66, 0, 0), rgb(204, 2, 2));
}

.AIBoard:hover {
  box-shadow: 0px 0px 16px rgb(231, 99, 99);
}


/* Modals */
#modalsContainer{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.modal {
  margin: 0 auto;
  z-index: 1;
  height: 30%;
  min-width: 18rem;
  min-height: 18rem;
  border-radius: 8px;
  position: relative;
}

#modalAI {
  display: none;
  background-color: rgba(156, 3, 3, 0.904);
  box-shadow: 0px 0px 5px rgb(1, 1, 71);
  min-height: 14rem;
}

#modalAI form {
  margin: 13%;
  margin-top: 15%;
  margin-bottom: 15%;
  height: 75%;
  color: white;
  font-size: 14px;
}

#modalTwoPlayers {
  display: none;
  background-color: rgba(10, 1, 139, 0.904);
  box-shadow: 0px 0px 5px rgb(116, 0, 0);
}

#modalTwoPlayers form {
  margin: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
  height: 75%;
  color: white;
  font-size: 14px;
}


/* Modals Inputs */
.inputName {
  width: 101%;
  height: 1.5rem;
  border-radius: 8px;
  border: 1px white;
  font-size: 17px;
  outline: none;

}

.inputName:hover {
  box-shadow: 0px 0px 15px grey;
}

.startGameBtn{
  width: 7rem;
  height: 2.5rem;
  font-family: inherit;
  font-size: 10px;
  color: white;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.startAIGame {
  margin-left: 22%;
  margin-top: 30px;
  background: linear-gradient(45deg, rgb(0, 0, 56), rgb(3, 3, 194));
}

.startAIGame:hover {
  background: linear-gradient(45deg, rgb(19, 19, 78), rgb(28, 28, 202));
  box-shadow: 0px 0px 10px rgba(108, 99, 231, 0.74);
}

.startTwoPlayersGame {
  margin-left: 25.3%;
  margin-top: 20px;
  background: linear-gradient(45deg, rgb(66, 0, 0), rgb(204, 2, 2));
}

.startTwoPlayersGame:hover {
  background: linear-gradient(45deg, rgb(95, 15, 15), rgb(233, 3, 3));
  box-shadow: 0px 0px 10px rgba(231, 99, 99, 0.76);
}


/*Winner Modal*/
#winnerModal {
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.027);
  transition: 0.5s ease;
}

#winnerModal p {
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  background: -webkit-linear-gradient(rgb(245, 61, 61), rgb(67, 67, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}


/*footer*/
footer {
  margin-left: 1rem;
  color: rgb(156, 3, 3);
  text-shadow: 1.5px 1px 0px rgb(2, 2, 173);
  margin-top: -1rem;
}

footer p {
  margin-bottom: 0.5rem;
  font-size: 13px;
}

footer a {
  color: inherit;
}

/*close Button*/
.close {
  font-family: sans-serif;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute; 
  right: 10px;
  top: 5px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}