html {
  height: 100vh;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: thistle;
  margin: 0 auto;
  height: 100%;
}

main {
  height: 95vh;
}

#init {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#init h1 {
  font-size: 60px;
  color: rgb(180, 3, 3);
  text-shadow: 5px 5px 0px rgb(2, 2, 173);
}

#init button {
  width: 9rem;
  height: 3rem;
  background: linear-gradient(45deg, rgb(180, 3, 3),rgb(2, 2, 173));
  font-family: inherit;
  font-size: 15px;
  color: white;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}

#init button:hover {
  background: linear-gradient(45deg, rgb(204, 2, 2),rgb(3, 3, 194));
  box-shadow: 0px 0px 10px rgb(204, 2, 2);
}

#modeBtnsAndBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#gameModeBtnsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modeBtns {
  width: 8rem;
  height: 3rem;
  font-family: inherit;
  font-size: 10px;
  color: white;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  margin-left: 2rem;
  margin-right: 2rem;
}

#buttonAI {
  background: linear-gradient(45deg, rgb(66, 0, 0), rgb(204, 2, 2));
}

#buttonTwoPlayers {
  background: linear-gradient(45deg, rgb(0, 0, 56), rgb(3, 3, 194));
}






footer {
  margin-left: 1rem;
  color: rgb(156, 3, 3);
  text-shadow: 3px 1px 0px rgb(2, 2, 173);
  margin-top: -1rem;
}

footer p {
  margin-bottom: 0.5rem;
}

footer a {
  color: inherit;
}